extends ./main.pug
block content

    body
      .card.card-body.bg-dark.p-5.mt-4(background-color:='' #00aa9e='')
        h1.display-4(style='color:white') Gymnos
        p.lead(style='color:white')
          |The best app to manage your progression in the gym.
        hr.my-4
        div
          //-a.btn.btn.btn-lg(href='https://www.youtube.com/watch?v=HIb4hRxiEq4', role='button',style='background-color:white;color:red') Click here
